<!DOCTYPE html>
<html lang="en">
<head>
  <title>FileManagement</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Arcvibes</a>
    </div>
    <ul class="nav navbar-nav navbar-right" id="logout-button">
        <li><a href="#" class="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    <div class="collapse navbar-collapse" id="myNavbar">
        
    </div>
  </div>
</nav>
<div class="container-fluid bg-3 text-center" id="file-upload">   
   
    <input id="userid" type="hidden" name="userid" />
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                        <input class="form-control" id="fileupload" type="file" name="fileupload" />
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <button id="upload-button" onclick="uploadFile()" class="btn btn-sm btn-primary"> Upload </button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <table id="result" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>File Name</th>
                        <th>UploadedBy</th>
                        <th>Action</th>
                    </tr>
                </thead>
                  <tbody id="tdata">
                  </tbody>
                 
              </table>
        </div>
    </div>
    </div>
    
     
     
  </div>

  
<div class="container-fluid bg-3 text-center" id="login-register">    
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Login</h3>
                            
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form   method="post" class="login-form" id="login-form">
                            <div class="form-group">
                               
                                <input type="text" id="email" name="email" placeholder="Email..." class="form-username form-control" >
                            </div>
                            <div class="form-group">
                                <input type="password" id="lpassword" name="lpassword" placeholder="Password..." class="form-password form-control" >
                            </div>
                            <button type="button" id="login-button" class="btn">Sign in!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 middle-border"></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Sign up now</h3>
                          
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <div class="alert alert-success" id="success-alert">
                            <strong>Success!</strong>
                            New user added successfully
                         </div>
                        <form  method="post" class="registration-form" id="regForm">
                            <div class="form-group">
                               
                                <input type="text" id="fname" name="fname" placeholder="First name..." class="form-first-name form-control"  required>
                               
                            </div>
                            <div class="form-group">
                               
                                <input type="text" id="lname" name="lname" placeholder="Last name..." class="form-first-name form-control"  required>
                               
                            </div>
                            <div class="form-group">
                                
                                <input type="text" id="remail" name="remail" placeholder="Email..." class="form-last-name form-control"  required>
                               
                            </div>
                            <div class="form-group">
                               
                                <input type="password" id="password" name="password" placeholder="Password..." class="form-last-name form-control"   required>
                              
                            </div>
                            <div class="form-group">
                               
                               
                                <input type="password" id="conpassword" name="conpassword" placeholder="Confirm Password..." class="form-last-name form-control"  required>
                                
                            </div>
                            <button type="button" class="btn" id="regButton">Sign me up!</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
   
</div><br>

<script src="../src/script.js" > </script>

<footer class="container-fluid text-center">

</footer>

</body>
</html>
